@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  margin: 0;
}


/* 新增：进度条加载动画 */
@keyframes progress {
  0% { width: 0%; opacity: 1; }
  100% { width: 100%; opacity: 0; } /* 加载完消失 */
}